{
  "openapi" : "3.0.3",
  "info" : {
    "contact" : {
      "email" : "support@ibm.com",
      "name" : "IBM API Support Team",
      "url" : "https://www.ibm.com/ca-en"
    },
    "description" : "IBM solution for MOVES",
    "license" : {
      "name" : "DLH API",
      "url" : "https://www.ibm.com/ca-en"
    },
    "termsOfService" : "https://www.ibm.com/ca-en",
    "title" : "IBM MOVES DLH API",
    "version" : "0.0.1"
  },
  "servers" : [ {
    "description" : "Development Server",
    "url" : "https://development.ibm.dlh.com/v1"
  } ],
  "tags" : [ {
    "description" : "MOVES DLH data",
    "name" : "DLH"
  } ],
  "paths" : {
    "/DLHDocument/{mvid}" : {
      "get" : {
        "description" : "Returns the pdf document with other information",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "mvid",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DLHApi.PDFData"
                }
              }
            },
            "description" : "Returns the pdf document with other information"
          },
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Request document not found"
          },
          "405" : {
            "description" : "Validation exception"
          }
        },
        "summary" : "List DLH data",
        "tags" : [ "DLH" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "DLHApi.PDFData" : {
        "example" : {
          "DlhFile" : "",
          "Message" : "Message",
          "Success" : true
        },
        "properties" : {
          "Success" : {
            "type" : "boolean"
          },
          "DlhFile" : {
            "format" : "binary",
            "type" : "string"
          },
          "Message" : {
            "type" : "string"
          }
        },
        "type" : "object"
      }
    }
  }
}
